<h1>Welcome!</h1>

<form class="greet" action="/greet" method="post">
  <label for="user_name"></label>
  <p><input type="text" name="user_name" id="user_name" /></p>
  <input type="submit" value="Submit" />
</form>
